@import '../../../styles/variables.css';

.Icon_container {
  display: flex;
  align-items: center;
  width: 1.2em;
  padding: 0.2em;
  background-color: rgb(77 77 77);
  border-radius: 100px;

  .Icon {
    fill: white;
  }
}
