@import '../../../styles/variables.css';

.Icon_container {
  display: flex;
  align-items: center;
  width: 1.2em;
  padding: 0.2em;
  background-color: #4d4d4d;
  border-radius: 100px;
  -ms-flex-align: center;
}

.Icon_container .Icon {
  fill: white;
}
