* {
  box-sizing: border-box;
}

.Container {
  z-index: 1;
  display: flex;
  gap: 1em;

  /* border-bottom: 1px solid rgb(0 0 0 / 20%); */

  /* box-shadow: 0 0 10px rgb(0 0 0 / 22.6%); */
  align-items: center;
  width: 100%;
  min-width: 100%;
  height: 3em;
  padding: 0 1em;
  background-color: rgb(255 255 255);

  .icons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;

    &:hover {
      cursor: pointer;
      background-color: rgb(242 242 242 / 70%);
      border-radius: 100px;
      transition: background-color 0.4s ease-in-out;
    }
  }
}

.icon {
  width: 1em;
  height: 1em;
  fill: rgb(57 57 57);
}

@media (width <= 800px) {
  .Container {
    display: flex;
    gap: 1em;
    align-items: center;
    width: 100vw;
    min-width: 100%;
    height: 3em;
    padding: 0 1em;

    .icons_container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2em;
      height: 2em;

      &:hover {
        cursor: pointer;
        background-color: rgb(242 242 242 / 70%);
        border-radius: 100px;
        transition: background-color 0.4s ease-in-out;
      }
    }
  }
}
