@import '../../../styles/variables.css';

.Component_container {
  position: relative;
  display: -webkit-box;
  display: flex;
  gap: 0.5em;
  align-items: center;
  width: auto;
  height: 2em;
  padding: 0.2em 0.8em 0.2em 0.3em;
  margin: 0;
  color: white;
  cursor: pointer;
  background-color: #383838;
  border-radius: 100px;
  -ms-flex-align: center;
}

.AccountMenu {
  position: absolute;
  top: 3.2em;
  right: 0;
  z-index: 99;
  display: none;
  min-width: 12em;
  background-color: #d6d6d6;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: var(--border-radius1);
  box-shadow: 0 0 20px rgb(0 0 0 / 32.2%);
}

.AccountMenu .Items {
  display: grid;
  gap: 1em;
  padding: 1em;
  margin: 0;
  list-style: none;
}

.AccountMenu .Items .Item {
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.AccountMenu .Items .Item .Item_Link {
  font-weight: 500;
  color: #464646;
  text-decoration: none;
}

.AccountMenu .Items .Item .Icon_wrapper {
  width: 1em;
}

.AccountMenu .Items .Item .Icon_wrapper .Icon {
  display: block;
  width: 100%;
  fill: #505050;
}

.AccountMenu.Open {
  display: block;
}
