.Container {
    padding: 1em;
    font-size: 0.9em;
    position: absolute;
    pointer-events: none;
    z-index: -100000000;
    p{
        line-height: 16px;
    }
  
    .timeSection {
        display: flex;
        gap: 0.5em;
    }
    .productName {
        text-transform: lowercase;
        width: 100%;
        grid-column: 1 / 4;
        line-height: 1.4pc;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        //white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

    }
}

.title {

    font-size: 14px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

// .border_bottom {

//     border: 1px solid black;
// }


.row3 {
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.8fr;

}

.row1 {
    display: grid;
    grid-template-columns: 1fr;

}

.product_list {
    display: block;
    border: none;
    padding: 0;
    list-style: none;

    .product {
        width: 100%;

        &:nth-child(1n) {
            border-bottom: 1px dashed black;
        }

        &:last-child {
            border-bottom: none;
        }

    }
}

.capital {
    text-transform: capitalize;
}