@import '../../../styles/variables.css';

.Component_container {
  position: relative;
  justify-self: end;
  padding: 0;
  margin: 0;
  color: white;
  cursor: pointer;

  .UserIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 1em;
  }
}

.AccountMenu {
  position: absolute;
  top: 3.2em;
  right: 0;
  z-index: 99;
  display: none;
  min-width: 12em;
  background-color: rgb(214 214 214);
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: var(--border-radius-light);
  box-shadow: 0 0 20px rgb(0 0 0 / 32.2%);

  .Items {
    display: grid;
    gap: 1em;
    padding: 1em;
    margin: 0;
    list-style: none;

    .Item {
      display: flex;
      justify-content: space-between;

      .Item_Link {
        font-weight: 500;
        color: rgb(70 70 70);
        text-decoration: none;
      }

      .Icon_wrapper {
        width: 1em;
        font-size: 16px;
        color: black;
      }
    }
  }
}

.AccountMenu.Open {
  display: block;
}
