.Container .Item_inner {
  display: grid;
  place-content: center center;
  place-items: center center;
  width: 100%;
  height: 100%;
  -ms-flex-align: center;
  -ms-flex-line-pack: center;
  -ms-flex-pack: center;
}

.Container .Item_inner .Icon {
  width: 1em;
  fill: #575757;
}
