.ClientBarContainer{
    position: relative;
    margin: 0;
    border: 0;
    width: 100%;
   
    .ClientBar{
       width: 100%;
       gap: 10px;
       display: flex;
       align-items: center; 
       justify-content: space-between;
      height: 2.75em;
      position: relative;
      z-index: 2000;
      background-color: var(--Gray8);
      border-bottom-left-radius: var(--border-radius-light);
      padding: 0 0.3em;
      //border-radius: 10px;
     
      
    }   
 }
.row{
   width: 100%;
}
 .clientControl{
   position: absolute;
   z-index: 1;
   top: 3em;
   left: 0;
   width: 100%;
   height: 300px;
   background-color: rgb(112,112,112);
   overflow-y: scroll;
   padding: 0.5em;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 0.5em;
   align-items: center;
   align-content: flex-start;
   border-radius: 10px;

}