@import '../../../styles/variables.css';

.Container {
  width: 3.4em;
  overflow: hidden;
  background-color: #464646;
}

.Container .Items {
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-top: 0.5em;
  list-style: none;
  -ms-flex-align: center;
}

.Container .Items .Item {
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8em;
  height: 1.8em;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-color: #858585;
  border-radius: 100px;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.Container .Items .Item.AddBtn {
  display: -webkit-box;
  display: flex;
  align-items: center;
  background-color: #d6d6d6;
  border: none;
  -ms-flex-align: center;
}

@media (width <= 800px) {
  .Container {
    position: absolute;
    display: none;
    width: 100%;
    height: calc(100vh - 4em);
    overflow: hidden;
    background-color: #464646;
  }

  .Container .Items {
    display: grid;
    grid-template-rows: repeat(5, minmax(100px, 150px));
    grid-template-columns: repeat(3, minmax(100px, 150px));
    gap: 1em;
    place-content: center center;
    place-items: center center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 1em;
    margin: 0;
    overflow-y: auto;
    list-style: none;
    -ms-flex-align: center;
    -ms-flex-line-pack: center;
    -ms-grid-columns: (minmax(100px, 150px)) [3];
    -ms-grid-rows: (minmax(100px, 150px)) [5];
  }

  .Container .Items .Item {
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background-color: #858585;
    border-radius: 6px;
    transition: none;
    -ms-flex-align: center;
    -ms-flex-pack: center;
  }

  .Container .Items .Item.AddBtn {
    background-color: #fc4141;
    border: none;
  }

  .Container.Open {
    display: block;
  }
}
