.Counter_container{
    //control de la cantidad del producto
   user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White3);
    padding: 0 0.2em;
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.100); 
    //border: 1px solid rgba(0, 0, 0, 0.200);
    border-radius: 6px;
    .Couter_button{
       border: none;
       outline: none;
       font-weight: 700;
       line-height: 10px;
       width: 1.2em;
       height: 1.2em;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: none;
       border-radius: 4px;
       background-color: var(--White);
       color: var(--Gray6);
       span{
         
       }
       &:focus{
         outline: none;
       }
    }
    .CounterDisplay{
      border: 1px solid rgba(0, 0, 0, 0);
      width: 2.5em;
      text-align: center;
      font-size: 17px;
      outline: none;
      background-color: transparent;
      &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
         -webkit-appearance: none;
         margin: 0;
     }
    }
 }