@import url('../../../styles/variables.css');

.container {
     overflow: hidden;
     background-color: rgba(217, 235, 236, 0.333);
     border-radius: 10px;
     border-top-left-radius: 0;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
     height: 100%;
     


     .wrapper {
          height: 100%;
          padding: 0.5em;
          padding-top: 1em;
          overflow: auto;
          
     }
}