@import url('../../../styles/variables.css');
* {
  box-sizing: border-box;
  margin: 0;

}
.AppContainer {
  width: 100%;
  height: calc(100vh - 2.75em);
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr;
  
 .ProductsContainer{
  position: relative;
   margin: 0;
   padding: 0;
   overflow-y: hidden;
   display: grid;
   grid-template-rows: min-content 1fr;

   
  
 }
  

  
}
@media(max-width: 800px){
  .AppContainer {
    width: 100%;
    height: calc(100vh - 2.75em);
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 1fr;
  

    .ProductsContainer{
      position: relative;
       max-height: calc(100vh);
      
    
       display: grid;
       grid-template-rows: 3em 1fr 2m;
      overflow: hidden;
       
      
     }
  }
}