@import url('../../../styles/variables.css');

* {
  box-sizing: border-box;
  margin: 0;

}

.AppContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  gap: 1em;
  margin-right: 0;
  padding-right: 0;

  .ProductsContainer {
    position: relative;
    gap: 0;
    margin-right: 0;
    padding-right: 0;

    height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: min-content min-content 1fr;

  }
}

@media(max-width: 800px) {
  .AppContainer {
    width: 100vw;
    height: calc(100vh);
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;


    .ProductsContainer {
      position: relative;
      gap: 0;
      margin-right: 0;
      padding-right: 0;
  
      height: 100%;
      overflow-y: hidden;
      display: grid;
      grid-template-rows: min-content min-content 1fr;
  
    }
  }
}