.Container_app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.Container_app .Login_Wrapper {
  max-width: 500px;
  width: 100%;
  min-height: 500px;
  background-color: #dceefb;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.Container_app .Login_Wrapper .Login_header {
  padding: 1em 0;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Container_app .Login_Wrapper .Login_header .WebName {
  font-size: 1.5em;
  font-weight: bold;
  color: #1c1c1c;
  margin-bottom: 0.5em;
}

.Container_app .Login_Wrapper .Login_header .Title {
  width: 95%;
  margin: 0;
  text-align: center;
  font-size: 1.1em;
}

.Container_app .Login_Wrapper .LoginControl_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Container_app .Login_Wrapper .LoginControl_Container .FormControl {
  display: block;
  width: 90%;
}

.Container_app .Login_Wrapper .LoginControl_Container .FormControl .FormItemGroup {
  margin-bottom: 2em;
}

.Container_app .Login_Wrapper .LoginControl_Container .FormControl .FormItemGroup .FormLabel {
  margin-bottom: 0.5em;
  display: block;
}

.Container_app .Login_Wrapper .LoginControl_Container .FormControl .FormItemGroup .FormInput {
  width: 100%;
  border-radius: 100px;
  padding: 0.4em 1em;
  margin-bottom: 0.6em;
  border: 1px solid #2b2b2b42;
  font-size: 1em;
}

.Container_app .Login_Wrapper .LoginControl_Container .FormControl .FormItemGroup .FormInput:focus {
  outline: 1px solid #2b2b2b42;
}

.Container_app .Login_Wrapper .LoginControl_Container .FormControl .FormItemGroup .FormForgetPasswordInput {
  text-align: end;
  width: 100%;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.Container_app .Login_Wrapper .LoginControl_Container .FormControl .FormItemGroup .FormForgetPasswordInput:hover {
  color: #0000ff;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .Container_app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100vh;
    width: 100%;
  }
  .Container_app .Login_Wrapper {
    max-width: none;
    width: 100%;
    max-height: 100%;
    height: 100%;
    background-color: #dceefb;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: none;
    overflow: hidden;
  }
  .Container_app .Login_Wrapper .Login_header {
    padding: 1em 0;
    margin-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Container_app .Login_Wrapper .Login_header .WebName {
    font-size: 1.5em;
    font-weight: bold;
    color: #1c1c1c;
    margin-bottom: 0.5em;
  }
  .Container_app .Login_Wrapper .Login_header .Title {
    width: 95%;
    margin: 0;
    text-align: center;
    font-size: 1.1em;
  }
  .Container_app .Login_Wrapper .LoginControl_Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Container_app .Login_Wrapper .LoginControl_Container .FormControl {
    display: block;
    width: 90%;
  }
  .Container_app .Login_Wrapper .LoginControl_Container .FormControl .FormItemGroup {
    margin-bottom: 2em;
  }
  .Container_app .Login_Wrapper .LoginControl_Container .FormControl .FormItemGroup .FormLabel {
    margin-bottom: 0.5em;
    display: block;
  }
  .Container_app .Login_Wrapper .LoginControl_Container .FormControl .FormItemGroup .FormInput {
    width: 100%;
    border-radius: 100px;
    padding: 0.4em 1em;
    margin-bottom: 0.6em;
    border: 1px solid #2b2b2b42;
    font-size: 1em;
  }
  .Container_app .Login_Wrapper .LoginControl_Container .FormControl .FormItemGroup .FormInput:focus {
    outline: 1px solid #2b2b2b42;
  }
  .Container_app .Login_Wrapper .LoginControl_Container .FormControl .FormItemGroup .FormForgetPasswordInput {
    text-align: end;
    width: 100%;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  .Container_app .Login_Wrapper .LoginControl_Container .FormControl .FormItemGroup .FormForgetPasswordInput:hover {
    color: #0000ff;
    text-decoration: underline;
  }
}
/*# sourceMappingURL=Login.module.css.map */