.Container_app{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
   .Login_Wrapper{
      max-width: 500px;
      width: 100%;
      min-height: 500px;
      background-color: #dceefb;
      border: 1px solid rgba(0, 0, 0, 0.200);
      border-radius: 6px;
      
   
      .Login_header{
        
         
         padding: 1em 0;
         margin-bottom: 1em;
         display: flex;
         align-items: center;
         flex-direction: column;
         .WebName{
            font-size: 1.5em;
            font-weight: bold;
            color: #1c1c1c;
            margin-bottom: 0.5em;
         }
         
         .Title{
            width: 95%;
            margin: 0;
            text-align: center;
            font-size: 1.1em;
           
         }
      }
      .LoginControl_Container{

         display: flex;
         justify-content: center;

         .FormControl{
            display: block;
            width: 90%;
          
            .FormItemGroup{
               margin-bottom: 2em;
               .FormLabel{
                  margin-bottom: 0.5em;
                  display: block;
               }
               .FormInput{
                  width: 100%;
              
                  border-radius: 100px;
                  padding: 0.4em 1em;
                  margin-bottom: 0.6em;
                  border: 1px solid #2b2b2b42;
                  font-size: 1em;
                  &:focus{
                     outline: 1px solid #2b2b2b42;
                  }
               }
               .FormForgetPasswordInput{
                  text-align: end;
                  width: 100%;
                  display: block;
                  text-decoration: none;
                  color: black;
                  font-weight: 600;
                  &:hover{
                     color: #0000ff;
                     text-decoration: underline;
                     
                  }
               }
            }
         }
      }
      
   }
}

@media (max-width: 600px){
   .Container_app{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
      width: 100%;
      
      .Login_Wrapper{
         max-width: none;
         width: 100%;
         max-height: 100%;
         height: 100%;
         background-color: #dceefb;
         border: 1px solid rgba(0, 0, 0, 0.200);
         border-radius: none;
         overflow: hidden;
      
         .Login_header{
           
            
            padding: 1em 0;
            margin-bottom: 1em;
           display: flex;
           align-items: center;
            flex-direction: column;
            .WebName{
               font-size: 1.5em;
               font-weight: bold;
               color: #1c1c1c;
               margin-bottom: 0.5em;
            }
            
            .Title{
               width: 95%;
               margin: 0;
               text-align: center;
               font-size: 1.1em;
              
            }
         }
         .LoginControl_Container{
   
            display: flex;
            justify-content: center;
   
            .FormControl{
               display: block;
               width: 90%;
             
               .FormItemGroup{
                  margin-bottom: 2em;
                  .FormLabel{
                     margin-bottom: 0.5em;
                     display: block;
                  }
                  .FormInput{
                     width: 100%;
                 
                     border-radius: 100px;
                     padding: 0.4em 1em;
                     margin-bottom: 0.6em;
                     border: 1px solid #2b2b2b42;
                     font-size: 1em;
                     &:focus{
                        outline: 1px solid #2b2b2b42;
                     }
                  }
                  .FormForgetPasswordInput{
                     text-align: end;
                     width: 100%;
                     display: block;
                     text-decoration: none;
                     color: black;
                     font-weight: 600;
                     &:hover{
                        color: #0000ff;
                        text-decoration: underline;
                        
                     }
                  }
               }
            }
         }
         
      }
   }
}