:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: serif;

  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

  /* set values based on base values */
  --heading-line-height: calc(1em * var(--text-scale-ratio));
  --body-line-height: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));

  /* set values based on base values and text scale */
  --space-xxs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)));
  --space-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --space-sm: calc(1em / var(--text-scale-ratio));
  --space-md: calc(1em * var(--text-scale-ratio));
  --space-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));

  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

body {
  font-family: var(--font-primary);
  font-size: var(--text-base-size);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
p,
form legend {
  margin-right: 0;
  margin-bottom: var(--space-xxs);
  margin-left: 0;
  line-height: var(--heading-line-height);
  color: var(--color-text-heading);
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}

h1,
.text--xxl {
  /* Box */
  margin: 0 0 4px;
  font-size: var(--text-xxl);
}

h2,
.text--xl {
  /* Box */
  margin: 0 0 12px;
  font-size: var(--text-xl);
  color: #1a1a1a;
}

h3,
.text--lg {
  /* Box */
  margin: 0 0 10px;
  font-size: var(--text-lg);
}

/*
h4,
.text--md {
  font-size: var(--text-md);
  margin: 0 0 14px 0;
}
*/

.text--sm,
small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
}

/*
a {
  color: var(--color-link);
  &:visited {
    color: var(--color-link-visited);
  }
}
*/

@media (width >=768px) {
  :root {
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
  }
}

@media (width >=1024px) {
  :root {
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
  }
}

@media (width >=1280px) {
  :root {
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
  }
}