.Container {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100%;
}

.Container .Btn {
  display: none;
}

.Container .Items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  padding: 0 1em;
  height: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  width: 100%;
}

.Container .Items .MoreInfo {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -ms-grid-columns: min-content min-content min-content 0.5fr 0.5fr 1fr min-content;
      grid-template-columns: -webkit-min-content -webkit-min-content -webkit-min-content 0.5fr 0.5fr 1fr -webkit-min-content;
      grid-template-columns: min-content min-content min-content 0.5fr 0.5fr 1fr min-content;
}

.Container .Items .LimitText {
  width: 100px;
  height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Container .Items .Group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.Container .Items .Group label {
  display: none;
  font-weight: 600;
}

@media (max-width: 800px) {
  .Container {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
    -ms-grid-columns: min-content 1fr;
        grid-template-columns: -webkit-min-content 1fr;
        grid-template-columns: min-content 1fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .Container:last-child {
    border-bottom: 0;
  }
  .Container .Btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 3.5em;
    height: 3.5em;
  }
  .Container .Items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
    position: relative;
    background-color: #ebebeb;
    padding: 1em;
  }
  .Container .Items .MoreInfo {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
    z-index: 1;
  }
  .Container .Items .MoreInfo.Visible {
    display: -ms-grid;
    display: grid;
  }
  .Container .Items .LimitText {
    width: auto;
    height: auto;
    display: block;
    overflow: hidden;
  }
  .Container .Items .Group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.4fr 1fr;
        grid-template-columns: 0.4fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Container .Items .Group label {
    display: block;
  }
}
/*# sourceMappingURL=ListItemStyle.module.css.map */