* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: white;
  background-color: var(--color);
}

:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-synthesis: none;
  line-height: 24px;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  :hover {
    color: #535bf2;
  }
}

select {
  padding: 0 0.4em;
  outline: 1px solid rgb(145 145 145);
  border: none;
  border-radius: var(--border-radius-light);
}

input {
  width: 100% !important;
  color: rgb(83 83 83);
  background-color: white;
}

/* ::-webkit-scrollbar {
  width: 11px;
  background-color: transparent;
} */

/* ::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  
}

::-webkit-scrollbar-track {
  background-color: transparent;
}  */
